<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jobx_api.dao.NewsDao">

    <select id="selectNews" parameterType="com.example.jobx_api.dto.SearchRequestDto" resultType="com.example.jobx_api.dto.NewsDto">
        SELECT
            n.*,
            s.name AS sourceName
        FROM
            news n
        JOIN source s ON n.source_id = s.id
        <where>
            <if test="findText != null and findText != ''">
                AND n.title LIKE CONCAT('%', #{findText}, '%')
            </if>
        </where>
        ORDER BY n.published_at DESC
        LIMIT #{size} OFFSET #{offset};

    </select>

    <select id="selectNewsTotalCount" parameterType="com.example.jobx_api.dto.SearchRequestDto" resultType="long">
        SELECT
           COUNT(*)
        FROM
            news n
        <where>
            <if test="findText != null and findText != ''">
                AND n.title LIKE CONCAT('%', #{findText}, '%')
            </if>
        </where>

    </select>



</mapper>
